nav#navbar{
  top: 0px;
  position: fixed;
  z-index: 999;
  font: 14px EA Sports Covers SC;
  width: 100%;
}

nav#navbar div.container{

padding: 5px 50px 5px;
background: #0064bd;


}

nav#navbar #ul_nivel_A > li{
  display: inline-block;
}

nav#navbar ul a{
  color: #f6f6f6;
  text-decoration: none;
  
}

nav#navbar li{
  text-align: center;
}

nav#navbar #ul_nivel_A .ul_nivel_B {
  display: none;
}

nav#navbar #ul_nivel_A li:hover > .ul_nivel_B {
  list-style-type: none;
 /* display: block; */
}

/* cor do item hover */
nav#navbar ul li:hover > a{
  background: #4b545f;
  color: white;
}

nav#navbar ul li a {
  display: block;
  padding: 10px;
}

/* fundo do submenu 1 */
nav#navbar #ul_nivel_A .ul_nivel_B{
  background: #5f6975;
  position: absolute;
}
/*cor fonte submenu 1 */
nav#navbar #ul_nivel_A .ul_nivel_B > a{
  color: red;
}

#ul_nivel_A > li.separ:not(:last-child) {
  border-right: 2px solid #0f3160;

}

/* SETAS*/

#setaEsq:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  
  width: 0; 
  height: 0; 

  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right: 15px solid red; 
}


#setaDir:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  
  width: 0; 
  height: 0; 

  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-left: 15px solid red; 

}
/* FIM SETAS*/

#aid:before{
  margin-right: 20px;
  content: "";
  display: inline-block;
  vertical-align: middle;

  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent; 


}