{% load staticfiles %}

{% load templateTagUtils %}
<!-- Static navbar -->
<output id="modalDiv"></output>
<nav id="navbar">
	<div class="container">
		<ul id="ul_nivel_A" ><!-- primeiro nivel -->
			<li class="separ"><a href="{% url 'home' %}">Home</a></li>
			<li class="slideToggle_aux separ"  data-element="#ul_nivel_B">
				<a href="#">Principal</a>
				<ul id="ul_nivel_B" class="ul_nivel_B"><!-- primeiro segundo -->
					<li><a href="{% url 'nave' %}">Formulário</a></li>
					<li><a href="{% url 'listagem' %}">Lista</a></li>
				</ul>		
			</li>
			
			
			{% if obj %}
			<li>
				<div class="separ" id="aid">
				<!--
					-Espaçador e delimitador da altura da Navbar 
				-->		
				</div>
			</li>

				{% if navePrev %}
					<li>
						<a id="setaEsq" href="{% url 'exibir_nave' navePrev|espacoReplace %}"></a>
					</li>
				{% endif %}

				<li class="slideToggle_aux"  data-element="#ul_nivel_C">
					<a href="#" class="botao botaoOcult">{{ obj }}</a>

					<ul id="ul_nivel_C" class="ul_nivel_B"><!-- primeiro segundo -->
						{% with 'editar estoque venda' as prefix %}
							{% for var in prefix.split %}	
								{% with URL_l=var|add:"_"|add:linkULR %}
									<li>
										{% if forloop.counter0 == 0 %}
											<a class="botao" href="{% url URL_l obj.get_naveNome %}">{{ var }}</a>
										{% else %}
											<a id="{{ obj|espacoReplace }}" class="botao {{ var }} " onclick="Modal('{{ var }}', '{{ obj }}', '{% url URL_l obj|espacoReplace %}')">{{ var }}</a>
										{% endif  %}
									</li>
								{% endwith %}
							{% endfor %}
						{% endwith %}
					</ul>	
				</li>

				{% if naveNext %}
					<li>
						<a id="setaDir" href="{% url 'exibir_nave' naveNext|espacoReplace %}"></a>
					</li>
				{% endif %}
				
			{% endif %}
		</ul>
	</div>
</nav>