 {% extends "default/base.html" %}

{% load staticfiles %}

{% load templateTagUtils %}

{% block headTitulo %}
	{{ titulo }}			
{% endblock %}

{% block big_wrapper %}

			<form method="{{ method }}" action="{{ action }}" enctype="multipart/form-data"> {% csrf_token %}
				<table id="tableForms" cellpadding="0" cellspacing="0" width="100%" border="1">
					<caption></caption>
					<thead>
			    		<tr><th colspan="6" rowspan="1">{{ titulo }}</th></tr>
			    	</thead>
			    	<tbody>
			    		<tr>
			    			<td colspan="3">{{ form.naveNome.label }}</td>
			    			<td colspan="3" rowspan="19" >

			    				<div class="areaDiv areaDiv_Banner" id="{{ formFosTa.banner.auto_id }}_DIV">
			    					{{ formFosTa.banner }}
			    					<div class="inserirTXT">
			    						{% if addEdit == False %}
			    							<p id="{{ formFosTa.banner.auto_id }}_LAB" class="centralP_areaDivi">Insera uma imagem para o banner
			    								<p id="erroForm">{{ formFosTa.banner.errors.as_text }} </p>
			    							</p>
			    							<img id="{{ formFosTa.banner.auto_id }}_IMG" class="thumb" src="" style="display:none">
			    						{% else %}
			    							<img id="{{ formFosTa.banner.auto_id }}_IMG" class="thumb" src="{{ objI.banner.url }}">	
			    						{% endif %}			
   									</div>
			    				</div>
<!--
			    				<br />{{ formFosTa.banner.label }}
-->	
			    			</td>
			    		</tr>
						<tr>
			    			<td colspan="3">
			    				<p id="erroForm">{{ form.naveNome.errors.as_text }}</p>
			    				{{ form.naveNome }}
			    			</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">{{ formP.produzido.label }}</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">{{ formP.produzido }}</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">
				    			<div class="triggerTooltip">
					    			<a class="cursorTool">

										{{ form.poster.label }}

										<span id="tooltipEl">
											<div id="tituloTool">
												<div id="tituloCON">
													<p >Novo Poster</p>
												</div>

												<div id="{{ form.poster.auto_id }}btn" title="Confirme a adição" class="tituloOPC linkADD" data-element="#{{ form.poster.auto_id }}" onclick="slideToggle(this)">
													<p id="{{ form.poster.auto_id }}btn_checkBox">{{ PosterForm.checkBox_poster }}</p>
												</div>
											</div>
											<div id="bTooltip" >
													adcione um poster ainda não cadastrado
											</div>
											
										</span>
									</a>
								</div>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">

			    				<div id="{{ form.poster.auto_id }}" class="add_item" style="display:none;">
									<table id="tableForms" cellpadding="0" cellspacing="0" width="100%" border="1">
										<thead>
			    							<tr><th colspan="2">Insira um novo Poster</th></tr>
			    						</thead>
										<tbody>
											<tr>
												<td colspan="1" rowspan="2" class="tbCentrelizaDIV" valign="top">
													<div class="areaDiv areaDiv_poster" id="{{ PosterForm.posterIMG.auto_id }}_DIV">
			    										{{ PosterForm.posterIMG }}
			    										<div class="inserirTXT">
				    										<p id="{{ PosterForm.posterIMG.auto_id }}_LAB" class="centralP_areaDivi">Insera uma imagem para o poster
				    											<p id="erroForm">{{ PosterForm.posterIMG.errors.as_text }}</p>
				    										</p>
				    										<img id="{{ PosterForm.posterIMG.auto_id }}_IMG" class="thumb" src="" style="visibility:hidden">				
   														</div>
			    									</div>
												</td>
											<tr>
												<td colspan="2">
													<p>{{ PosterForm.subtitulos.label }}</p>
													<p id="erroForm">{{ PosterForm.subtitulos.errors.as_text }}</p>
													<p>{{ PosterForm.subtitulos }}</p>
													
													<p> {{ PosterForm.lancamento.label }}</p>
													<p id="erroForm">{{ PosterForm.lancamento.errors.as_text }}</p>
													{{ PosterForm.lancamento }}
												</td>
											</tr>
											<tr>
												<td colspan="2">
													{{ PosterForm.detalhe.label }}
													<p id="erroForm">{{ PosterForm.detalhe.errors.as_text }}</p>
													{{ PosterForm.detalhe }}
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div id="{{ form.poster.auto_id }}btn_default" >
									<p id="erroForm">{{ form.poster.errors.as_text }} </p>
									{{ form.poster }}
								</div>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">
				    			<div class="triggerTooltip">
					    			<a class="cursorTool">

										{{ form.afiliacao.label }}

										<span id="tooltipEl">
											<div id="tituloTool">
												<div id="tituloCON">
													<p >Novo afiliação</p>
												</div>

												<div id="{{ form.afiliacao.auto_id }}btn" title="Confirme a adição" class="tituloOPC linkADD" data-element="#{{ form.afiliacao.auto_id }}" onclick="slideToggle(this)">
													<p id="{{ form.afiliacao.auto_id }}btn_checkBox">{{ AfiliacaoForm.checkBox_afiliacao }}</p>
												</div>
											</div>
											<div id="bTooltip" >
												adcione uma afiliação ainda não cadastrada.
											</div>
											
										</span>
									</a>
								</div>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">

			    				<div id="{{ form.afiliacao.auto_id }}" class="add_item" style="display:none;">

									<table id="tableForms" cellpadding="0" cellspacing="0" width="100%" border="1">
										<thead>
			    							<tr><th>Nova Afiliação</th></tr>
			    						</thead>
										<tbody>
											<tr>
												<td class="tbCentrelizaDIV" valign="top">
													<div class="areaDiv" id="{{ AfiliacaoForm.fotoAF.auto_id }}_DIV">
			    										{{ AfiliacaoForm.fotoAF }}
			    										<div class="inserirTXT">
				    										<p id="{{ AfiliacaoForm.fotoAF.auto_id }}_LAB" class="centralP_areaDivi">Insera uma imagem para a afiliação
				    											<p id="erroForm">{{ AfiliacaoForm.fotoAF.errors.as_text }} </p>
				    										</p>
				    										<img id="{{ AfiliacaoForm.fotoAF.auto_id }}_IMG" class="thumb" src="" style="visibility:hidden">				
   														</div>
			    									</div>
			    									<br />{{ AfiliacaoForm.afiliacao.label }}
			    									<p id="erroForm">{{ AfiliacaoForm.afiliacaoADD.errors.as_text }} </p>
				    								<p >{{ AfiliacaoForm.afiliacaoADD }}</p>
												</td>
											</tr>

										</tbody>
									</table>

								</div>

								<div id="{{ form.afiliacao.auto_id }}btn_default" >
									<p id="erroForm">{{ form.afiliacao.errors.as_text }} </p>
									{{ form.afiliacao }}
								</div>
											
			    			</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">
				    			<div class="triggerTooltip">
					    			<a class="cursorTool">

										{{ form.cores.label }}

										<span id="tooltipEl">
											<div id="tituloTool">
												<div id="tituloCON">
													<p >Nova cor</p>
												</div>

												<div id="{{ form.cores.auto_id }}btn" title="Confirme a adição" class="tituloOPC linkADD" data-element="#{{ form.cores.auto_id }}" onclick="slideToggle(this)">
													<p id="{{ form.cores.auto_id }}btn_checkBox">{{ CoresForm.checkBox_cores }}</p>
												</div>
											</div>
											<div id="bTooltip" >
												adcione uma cor ainda não cadastrada
											</div>
											
										</span>
									</a>
								</div>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">

			    				<div id="{{ form.cores.auto_id }}" class="add_item" style="display:none;">

									<table id="tableForms" cellpadding="0" cellspacing="0" width="100%" border="1">
										<thead>
			    							<tr><th>Insira uma nova Cor</th></tr>
			    						</thead>
										<tbody>
											<tr>
												<td class="tbCentrelizaDIV" valign="top">
				    								<p>	{{ CoresForm.coresNom.label }} </p>
			    									<p id="erroForm">{{ CoresForm.coresNom.errors.as_text }} </p>
				    								<p title="{{ CoresForm.coresHex.label }}">{{ CoresForm.coresHex }} {{ CoresForm.coresNom }}</p>
												</td>
											</tr>

										</tbody>
									</table>

								</div>

								<div id="{{ form.cores.auto_id }}btn_default" >
									<p id="erroForm">{{ form.cores.errors.as_text }} </p>
									{{ form.cores }}
								</div>

			    			</td>
			    		</tr>
			    		<tr>
			    			<th colspan="3" rowspan="1">Caracteristica do item</th>
			    		</tr>
			    		<tr>
			    			<td colspan="3">{{ formI.dimecoes.label }}</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">{{ formI.dimecoes }}</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">{{ formI.revista.label }}</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">{{ formI.revista }}</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">{{ formI.fasciculo.label }}</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">
			    				<p id="erroForm">{{ formI.fasciculo.errors.as_text }}</p>
			    				{{ formI.fasciculo }}
			    			</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">{{ formI.extras.label }}</td>
			    		</tr>
			    		<tr>
			    			<td colspan="3">{{ formI.extras }}</td>
			    		</tr>
			    		<tr>
			    			<th colspan="6" rowspan="1">Imagens extras</th>
			    		</tr>
			    		<tr>
			    			<td colspan="2" class="tbCentrelizaDIV" valign="top">
			    				<div class="areaDiv" id="{{ formFosTa.fotoCE.auto_id }}_DIV">
			    					{{ formFosTa.fotoCE }}
			    					<div class="inserirTXT">
			    						{% if addEdit == False %}
				    						<p id="{{ formFosTa.fotoCE.auto_id }}_LAB" class="centralP_areaDivi">Insera uma cena do filme
				    							<p id="erroForm">{{ formFosTa.fotoCE.errors.as_text }} </p>
				    						</p>
				    						
				    						<img id="{{ formFosTa.fotoCE.auto_id }}_IMG" class="thumb" src="" style="visibility:hidden">
			    						{% else %}
			    							<img id="{{ formFosTa.fotoCE.auto_id }}_IMG" class="thumb" src="{{ objI.fotoCE.url }}">	
			    						{% endif %}		
   									</div>
			    				</div>	
			    				<br />{{ formFosTa.fotoCE.label }}		    			
			    			</td>
			    			<td colspan="2"  class="tbCentrelizaDIV" valign="top">
			    				<div class="areaDiv" id="{{ formFosTa.piloto.auto_id }}_DIV">
			    					{{ formFosTa.piloto }}
			    					<div class="inserirTXT" >
			    						{% if addEdit == False %}
				    						<p id="{{ formFosTa.piloto.auto_id }}_LAB" class="centralP_areaDivi">Insera a foto do piloto
				    							<p id="erroForm">{{ formFosTa.piloto.errors.as_text }} </p>
				    						</p>
			    						
			    							<img id="{{ formFosTa.piloto.auto_id }}_IMG" class="thumb" src="" style="visibility:hidden">
			    						{% else %}
			    							<img id="{{ formFosTa.piloto.auto_id }}_IMG" class="thumb" src="{{ objI.piloto.url }}">	
			    						{% endif %}			
   									</div>
			    				</div>
				    			<br />{{ form.nomepiloto.label }}
				    			<p>{{ form.nomepiloto }}</p>
			    			</td>
			    			<td colspan="2" class="tbCentrelizaDIV" valign="top">
			    				<div class="areaDiv" id="{{ formFosTa.fotoMo.auto_id }}_DIV">
			    					{{ formFosTa.fotoMo }}
			    					<div class="inserirTXT">
			    						{% if addEdit == False %}
				    						<p id="{{ formFosTa.fotoMo.auto_id }}_LAB" class="centralP_areaDivi">Insera uma imagem de modelo
				    							<p id="erroForm">{{ formFosTa.fotoMo.errors.as_text }} </p>
				    						</p>
				    						
				    						<img id="{{ formFosTa.fotoMo.auto_id }}_IMG" class="thumb" src="" style="visibility:hidden">		
			    						{% else %}
			    							<img id="{{ formFosTa.fotoMo.auto_id }}_IMG" class="thumb" src="{{ objI.fotoMo.url }}">	
			    						{% endif %}				
   									</div>
			    				</div>
			    				<br />{{ formFosTa.fotoMo.label }}	
			    			</td>
			    		</tr>
			    		<tr>
			    			<th colspan="6" rowspan="1">Fotos do produto anunciado</th>
			    		</tr>
			    		<tr>
			    			<td colspan="6" class="tbCentrelizaDIV" valign="center">

			    				<div class="areaDiv  areaDiv_fotoAN" id="{{ formF.fotoAN.auto_id }}_DIV">
			    					{{ formF.fotoAN }}
			    					<div class="inserirTXT">
			    						<p id="{{ formF.fotoAN.auto_id }}_LAB" >Insera as fotos do anúncio</p>
			    						<img id="{{ formF.fotoAN.auto_id }}_IMG" class="thumb" src="" style="visibility:hidden">				
   									</div>
			    				</div>
			    					{% if addEdit %}
			    						<p>{{ formF.checkBox_fotosAnuncios }} {{ formF.checkBox_fotosAnuncios.label }}</p>
				    					{% for img in objF %}
				    						<img class="thumbF thumbOpac" title="{{ img.fotoAN }}" src="{{ img.fotoAN.url }}" >
				    					{% endfor %}
				    					<hr>
			    					{% endif %}
			    					<output id="list"></output>
			    			</td>
			    		</tr>
			    		<tr>
			    			<th colspan="6" rowspan="1">Caracteristicas e informações da nave</th>
			    		</tr>
			    		<tr>
			    			<td colspan="3">
				    			<div class="triggerTooltip">
					    			<a class="cursorTool">

										{{ form.fabricante.label }}

										<span id="tooltipEl">
											<div id="tituloTool">
												<div id="tituloCON">
													<p >Novo fabricante</p>
												</div>

												<div id="{{ form.fabricante.auto_id }}btn" title="Confirme a adição" class="tituloOPC linkADD" data-element="#{{ form.fabricante.auto_id }}" onclick="slideToggle(this)">
													<p id="{{ form.fabricante.auto_id }}btn_checkBox">{{ FabricanteForm.checkBox_fabricante }}</p>
												</div>
											</div>
											<div id="bTooltip" >
												adcione um fabricante ainda não cadastrado
											</div>
											
										</span>
									</a>
								</div>
			    			</td>
			    			<td colspan="3" rowspan="1">
			    				<div id="{{ form.fabricante.auto_id }}" class="add_item" style="display:none;">

									<table id="tableForms" cellpadding="0" cellspacing="0" width="100%" border="1">
										<thead>
			    							<tr><th>Insira um novo Fabricante</th></tr>
			    						</thead>
										<tbody>
											<tr>
												<td class="tbCentrelizaDIV" valign="top">
			    									<p id="erroForm">{{ FabricanteForm.fabricanteADD.errors.as_text }} </p>
			    									<p>{{ FabricanteForm.fabricante.label }}  {{ FabricanteForm.fabricanteADD }} </p>
												</td>
											</tr>

										</tbody>
									</table>

								</div>

								<div id="{{ form.fabricante.auto_id }}btn_default" >
									<p id="erroForm">{{ form.fabricante.errors.as_text }} </p>
									{{ form.fabricante }}
								</div>

			    			</td>
			    		</tr>
			    		<!-- SOLUÇÃO ENCOTRADA EM
			    		https://djangosnippets.org/snippets/1246/
			    		-->
			    		{% for f in formset.management_form %}
			    			{{ f }}

			    		{% endfor %}

			    		{% for f in formset.forms %}
			    			<!-- SOLUÇÃO ENCOTRADA EM
							http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post
			    			-->
			    			{% for hidden in f.hidden_fields %}
								        {{ hidden }}
						    {% endfor %}
			    			
				    		<tr class="item">
				    			{% for field in f %}

				    				{% if forloop.counter0 == 0 %}

						    		<td  colspan="3">
				    				
					    				{% endif %}
					    				
							    	{% if field.name == 'informacao' %}
							    		</td>
							    		<td  colspan="3">
							    			{{ field.label_tag }}<br/>
							    			{{ field }}
						    		{% endif %}

						    		{% if field.name == 'caracteristica' %}
						    			<div id="{{ field.auto_id }}btn" class="triggerTooltip linkADD" data-element="#{{ field.auto_id }}" onclick="slideToggle(this)">
						    				<a class="cursorTool">
						    					<p>{{ field.label }}</p>
						    					<span id="tooltipEl">
						    						<div id="tituloTool">
								    					<div id="tituloCON">
															<p>Nova Caracteristica</p>
														</div>
														<div title="Confirme a adição" class="tituloOPC">
															<p id="{{ field.auto_id }}btn_checkBox">
																{% with f|fieldCAT:'checkBox_descricao' as fieldCAT %}
														    		
														    				{{ fieldCAT }}
														    			
														    	{% endwith %}
															</p>
														</div>
													</div>
													<div id="bTooltip" >
														Adicione uma caracteristica ainda não cadastrada
													</div>
						    					</span>
						    				</a>
					    				</div>
					    				<br />
					    				<div id="{{ field.auto_id }}" class="add_item" style="display:none;">

											<table id="tableForms" cellpadding="0" cellspacing="0" width="100%" border="1">
												<thead>
					    							<tr><th>Insira uma nova Caracteristica</th></tr>
					    						</thead>
												<tbody>
													<tr>
														<td class="tbCentrelizaDIV" valign="top">
					    									<!--<p>{{ field.label }}</p> -->
						    									{% with f|fieldCAT:'caracteristicaADD' as fieldCAT %}
												    				{{ fieldCAT.label }}
					    											<p id="erroForm">{{ fieldCAT.errors.as_text }}</p>
												    				<p>{{ fieldCAT }}</p>
												    			
												    			{% endwith %}
					    									</p>
														</td>
													</tr>

												</tbody>
											</table>

										</div>

										<div id="{{ field.auto_id }}btn_default" >
											<p id="erroForm">{{ field.errors.as_text }} </p>
											<p>{{ field }}</p>
										</div>

											<p style="visibility:hidden">
												<a id="remove" class="delete" href="#">Delete</a>
											</p>

						    		{% endif %}
				    			{% endfor %}
				    			</td>
				    		</tr>
				    		<tr>				    		
				    			<td colspan="6">
				    				<p><a id="add" href="#">Add detalhe</a></p>
				    			</td>

				    		</tr>
				    			
				    	{% endfor %}
		
			    	</tbody>
		
				</table>

				<hr>

				<br />
				<input class="{{ Options }} botao botaoDef" type="submit" value="{{ botao }}">

			</form>

{% endblock big_wrapper %}